
<h3 class="text-center"><strong>Profile</strong></h3>
    <nb-tabset class="pt-1">
      <nb-tab tabIcon="person-outline">
        <p  class="text-center text-info"><strong>IDENTITY</strong></p>
        <div class="row text-center">
          <div class="col text-info">
            <p class="text-info">Name:  </p>
            <p class="text-info">Lastname:  </p>
            <p class="text-info">Middle Name:</p>
          </div>
          <div class="col">
            <p> <strong>{{user?.firstName}}</strong>.</p>
            <p>  <strong>{{user?.lastName}}</strong>.</p>
            <p><strong>{{user?.middleName}}</strong>.</p>
          </div>
        </div>
        <div class=" text-center">
        <button  (click)="openWindowUser()" nbButton>Update</button>
        </div>
      </nb-tab>
      <nb-tab [tabIcon]="awardOutline">
        <p  class="text-center text-info"><strong>ROLE</strong></p>
        <p>Role : <strong>{{userRole}}</strong>.</p>
        <p>State: <strong>{{userAccount?.state}}</strong>.</p>
        <p>Date : <strong>{{userAccount?.date|date}}</strong>.</p>
        <button (click)="openWindowUserAccount()" nbButton>Update</button>
      </nb-tab>
      <nb-tab tabIcon="options-outline">
        <p><strong>User Organisation</strong></p>
        <p *ngIf="userOrganisation; else elseuserOrganisation">Organisation: <strong>{{userOrganisation?.name}}</strong>.</p>
        <ng-template #elseuserOrganisation>
          <button (click)="openWindowUserOrganisation()" nbButton>Add</button>
        </ng-template>
      </nb-tab>

      <nb-tab tabIcon="person-done-outline" >
        <p><strong>Your Organisation(s)</strong></p>
        <div *ngIf="userOrganisation; else elseOrganisation">
          <p>Organisation: <strong>{{userOrganisation.name}}</strong>.</p>
          <button (click)="openWindowNewOrganisation()" nbButton>Add Organisation</button>
        </div>
        <ng-template #elseOrganisation>
          <button (click)="openWindowNewOrganisation()" nbButton>Create Organisation</button>
        </ng-template>
      </nb-tab>


    </nb-tabset>


