<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        Ingredient
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" (click)="onCreate()">Create</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="info"
                nbSpinnerSize="large"
                nbSpinnerMessage="">
    <table class="table  text-white">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Supplier</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions; let indexOfElement = index" (click)="readTransaction(transaction.id)">
        <th scope="row"><a>{{indexOfElement+1}}</a></th>
        <td><a>{{transaction.supplier}}</a></td>
        <td><a>{{transaction.amount}}</a></td>
        <td ><a>{{transaction.date}}</a></td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
  </nb-card-footer>
</nb-card>
