<nb-card>
  <nb-card-header>
    New Item
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="itemForm">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label ">Name</label>
        <div class="col-sm-10">
          <input type="text" formControlName="name" class="form-control" id="name">
                      <ng-container *ngIf="formFields['name'].invalid && formFields['name'].touched">
                        Name is required!
                      </ng-container>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="brand" class="col-sm-2 col-form-label ">Sell price</label>
        <div class="col-sm-10">
          <input type="text" formControlName="costPrice" class="form-control" id="brand">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="brand" class="col-sm-2 col-form-label ">Icon</label>
        <div class="col-sm-10">
          <input type="file" maxlength="1200" accept="image/jpeg" formControlName="icon" class="form-control" id="icon" (change)="onFile($event)">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label ">Description</label>
        <div class="col-sm-10">
          <input type="text" formControlName="description" class="form-control" id="description">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>

    <div class="row">
      <div class="col">
        <button type="button"  (click)="onBack()" class="btn btn-primary">Back
        </button>
      </div>
      <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary" [disabled]="itemForm.invalid" (click)="onSubmit()">Save
          </button>
        </div>
      </div>
    </div>

  </nb-card-footer>
</nb-card>
