<form [formGroup]="userAccountForm" class="example-items-col text-center">
  <div class="mb-3 row text-center">
    <div class="col-sm-10 fs-2">Register</div>
  </div>

  <div class="mb-3 row text-center">
    <div class="col-sm-10">
      <input type="email" id="name" formControlName="name" nbInput fullWidth status="primary" placeholder="name">
      <ng-container *ngIf="formFields['name'].invalid && formFields['name'].touched">
        <p class="text-danger">name is required!</p>
      </ng-container>
    </div>
  </div>
  <div class="mb-3 row text-center">
    <div class="col-sm-10">
      <input type="email" id="email" formControlName="email" nbInput fullWidth status="primary" placeholder="email">
      <ng-container *ngIf="formFields['email'].invalid && formFields['email'].touched">
        <p class="text-danger">email is required!</p>
      </ng-container>
    </div>
  </div>

  <div class="mb-3 row text-center">
    <div class="col-sm-10">
      <input type="password" id="password" formControlName="password" nbInput fullWidth status="primary"
             placeholder="password">
      <ng-container *ngIf="formFields['password'].invalid && formFields['password'].touched">
        <p class="text-danger">Password is required!</p>
      </ng-container>
    </div>
  </div>
</form>
<div class="mb-3 row text-center">
  <div class="col-sm-10">
    <button type="button" nbButton fullWidth status="primary" [disabled]="userAccountForm.invalid" (click)="onSave()">Register
    </button>
  </div>
</div>
<div class="mb-3 row text-center">
  <div class="col-sm-10 ">
    <p> already have an account <button type="button" class="btn btn-link" (click)="onLogin()">login</button></p>
  </div>
</div>
